#root {
  
  margin: 0 auto;
  text-align: center;
}

.calculator{
  background-color: #171515;
  border-radius:4%;
  height: flex;
  width: 45vh;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.equals{
  background: #5b2510;
}

button{
  margin: 5px;
  width: 50px;
  text-align: left;
}

.title{
  font-family: Digital-7, serif;
}