#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.number{

}

.calculator{
  background-color: #171515;
  border-radius:4%;
  height: 60vh;
  width: 45vh;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}